a {
  color: white;
  text-decoration: none;
}

body {
  font-size: 20px;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  font-family: 'Courier New', Courier, monospace
}

.Bold {
  font-weight: bold;
}

.Contact {
  background-image: url(/public/contactus.jpg);
  color: white;
  padding: 40px 20px;
}

.Footer {
  padding: 20px 0;
  text-align: center;
}

.Harvest {
  background-image: url(./veggie-harvest_1.jpg);
  color: white;
  padding: 40px 20px;
}

.Health {
  padding: 30px 10px;
}

.Header {
  font-family: serif;
  padding: 20px 0;
  text-align: center;
}

.Product {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 20px 40px 20px;
  text-align: center;
}

.Recipe {
  padding: 0 10px 20px 10px;
}

.Sustainable {
  background-image: url(/public/woman-farmer_1.jpg);
  color: white;
  padding: 40px 20px;
}