body {
  font-size: 16px;
}

img {
  height: 300px;
  width: 200px;
}

p {
  font-family: 'Courier New', Courier, monospace
}

.Bold {
  font-weight: bold;
}

.Footer {
  padding: 20px 0;
  text-align: center;
}

.Header {
  padding: 20px 0;
  text-align: center;
}

.Product {
  text-align: center;
}

.Sustainable {
  background-image: url(/public/woman-farmer.jpg);
}